
@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Tenor Sans'), local('TenorSans'), url('/css/ts.ttf') format('truetype');
}

body {
    font-family: 'Tenor Sans', Helvetica Narrow, sans-serif;
    font-size: 11pt;
    padding: 0;
    margin: 0;
}

a {
    color: rgb(65, 126, 208);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=radio], input[type=radio] + label {
  cursor: pointer;
}

button {
    cursor: pointer;
}

button.disabled {
    cursor: default;
    opacity: .3;
}

header {
    display: block;
    padding: 15px;
    margin: 0 0 15px;
    height: 39px;
    background: #040404;
    background: -moz-linear-gradient(center top, #323232 0%, #040404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #323232), color-stop(1, #040404));
    color: #fff;
}



h1 {
    color: transparent;
    width: 135px;
    height: 35px;
    margin: 0 15px 0 0;
    float: left;
}

h1.sprite {
    background-position: 0 -26px;;
}

h2 {
    margin: 0;
    line-height: 39px;
    font-size: 1em;
    font-weight: lighter;
    float: left;
}

h3 {
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 1em;
}


footer {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: rgb(244, 247, 251);
    font-size: .7em;
    text-align: center;
}

  
section {
    display: table-cell;
}


formset {
    display: block;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-broder-radius: 5px;
    border-radius: 5px;
    background-color: #ccebcc;
    padding: 20px 37px;
}

formset a {
    color: #999;
    font-size: .8em;
    font-weight: lighter;
}

formset a + a {
    margin-left: 5px;
}

button {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: rgb(242, 242, 242);
    padding: 0.6em 2em;
    z-index: 0;
    font-size: 0.9em;
    border: none;
}

.email {
    font-weight: bold;
}

#sitename_container {
    border: 1px solid #ccc;
    border-width: 1px 1px 1px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    line-height: 148px;
    padding: 0 20px;
    margin: 0 0 0 -3px;
}

.sitename {
    padding: 2px 23px;
    color: #333;
    border: 1px solid #c2c2c2;
    background: #ccc;
    background: -moz-linear-gradient(center top, #f5f5f5 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #cccccc));
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#cancel {
    border: 1px solid #ccc;
}

.righty {
    float: right;
}

#bottom-bar > .action {
    background: #029a02;
    background: -moz-linear-gradient(center top, #55bb55 0%, #029a02 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #55bb55), color-stop(1, #029a02));
    color: #fff;
}

#bottom-bar > .action:hover {
    background: -moz-linear-gradient(center 20%, #55bb55 0%, #029a02 100%);
    background: -webkit-gradient(linear, left 20%, left bottom, color-stop(0, #55bb55), color-stop(1, #029a02));
}


.actions > .action {
    float: left;
    margin-right: 1em;
}

.actions > .action a {
    cursor: pointer;
    color: rgb(65, 126, 208);
    text-decoration: none;
}

.actions {
    position: fixed;
    bottom: 78px;
    font-size: .8em;
    margin-left: 79px;
}

#identities {
    width: 450px;
    margin: auto;
    list-style: none;
}

#identities > ul, #identities > ul > li {
  list-style: none;
}

#identities > ul > li {
  margin-bottom: .5em;
  height: 1.4em;
  font-size: .9em;
  line-height: 18px;
}

#dialog, #bottom-bar {
    width: 540px;
    margin: 15px auto;
}

.input > * {
    float: left;
}

.note {
    display: inline
}

.content {
    margin: auto;
    margin-top: 20px;
    text-align: left;
    width: 550px;
}

.content > .summary {
    text-align: left;
    margin-bottom: 2em;
}

.warning {
    color: rgb(153,153,84);
}

.bad {
    color: rgb(149,43,9);
}

.good {
    color: rgb(0,161,51);
}

.subtle {
    opacity: .7;
}

.attention, .attention_awesome, .attention_lame  {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    width: 400px;
    padding:13px;
    margin: auto;
    text-align: left;
    margin-top: 1em;
    visibility: hidden;
}

.attention {
    border: 1px solid rgb(219,231,238);
    background-color: rgb(244,247,251);
}

.attention_awesome {
    border: 1px solid rgb(0,161,51);
    background-color: rgb(0,161,51);
    color: white;
    font-weight: bold;
}

.attention_lame {
    border: 1px solid rgb(224,178,139);
    background-color: rgb(253,239,208);
    color: rgb(120,43,9);
    font-size: .8em;
}

.sprite {
    background: url('/i/sprite.png') no-repeat 0 0;
}

#labs_logo {
    float: right;
    background-position: 0 -62px;
    width: 97px;
    height: 20px;
    margin-top: 4px;
}
/*
p.prompt {
    font-size: 1.1em;
}

p.prompt .sitename {
    font-size: 1.1em;
}
*/

/*section.left {
    
}

/*section.right {
    margin-left: 30px;
}
*/


.formRow > label {
    width: 80px;
    text-align: left;
    display: block;
    float: left;
    line-height: 24px;
}

.formRow input {
    border-style: solid;
    border-color: #abadb3 transparent #e3e9ef #e3e9ef;
    border-width: 1px 0 1px 1px;
    width: 175px;
    height: 2em;
    padding: 0 .4em 0 .4em;
}


