    <section>
      <h3>Use your email address</h3>
      <formset>
        <p class="formRow">
          <label for="email_input"> Email </label>
          <input type="email" id="email_input" required />
        </p>
        <p class="formRow">
          <label for="password_input"> Password </label>
          <input type="password" id="password_input" pattern=".{5,}" required/>
        </p>
        <a href="#" id="forgotpassword">I forgot my password</a>
        <a href="#" id="create">Don't have a BrowserID yet?</a>
      </formset>
    </section>

    <section>
      <h3>to sign in to</h3>
      <p id="sitename_container">
        <span class="sitename"><%= sitename %></span>
      </p>
    </section>

    <div class="attention_lame" id="nosuchaccount">
      No such account exists with that email and/or password
    </div>

