<header>
  <span id="labs_logo" class="sprite"></span>
  <hgroup>
      <h1 class="sprite">BrowserID</h1>
      <h2>A better way to sign in.</h2>
  </hgroup>
</header>

<div id="dialog" class="dialog">
</div>

<div id="bottom-bar">
</div>

<footer>
    <small>
      BrowserID is a <a target="_blank" href="http://mozillalabs.org">Mozilla Labs</a> service.
      See our <a target="_blank" href="https://browserid.org/tos">terms</a> and <a target="_blank" href="https://browserid.org/privacy">privacy policy</a>, or <a target="_blank" href="https://browserid.org/users">learn more</a>.
    </small>
</footer>
